@charset "utf-8";

.experCSS {}
.experCSS_layerDom_body {}
.experCSS_layerDom_body .append {}
.experCSS_layerDom_body .remove { display:none; width:0px; height:0px; overflow:hidden; }
.experCSS_layerDom_layer { position:absolute; top:0; left:0; width:100%; }
.experCSS_layerDom_layer .dim { position:absolute; top:0; left:0; width:100%; height:100%; background-color:#000000; }
.experCSS_layerDom_layer .container { position:absolute; top:0; left:0; overflow:hidden; }
.experCSS_layerDom_layer .container .content { visibility:hidden; }
.experCSS_layerDom_layer .container .closeBtn { 
	position:fixed; top:10px; right:10px; width:40px; height:40px; visibility:hidden; cursor:pointer; 
	background:url("./images/EXLayerDOM/close_btn.gif") no-repeat;
}
.experCSS_layerDom_layer .container .closeBtn:hover { 
	background:url("./images/EXLayerDOM/close_btn_hover.gif") no-repeat;
}
.experCSS_layerDom_layer .container .progress { 
	position:absolute; top:50%; left:50%; margin:-18px 0 0 -18px; width:36px; height:36px; 
	border-radius:5px; background:#222222 url("./images/EXLayerDOM/progress_loading.gif") no-repeat 50% 50%; 
}
.experCSS_layerDom_layer .container .framei { margin:0; padding:0; width:100%; height:100%; border:none; }



.experCSS_scrollView_uiBarContainer { position:absolute; top:0; right:0; width:5px; cursor:pointer; background-color:#eeeeee; }
.experCSS_scrollView_uiBarContainer.needless { display:none; }
.experCSS_scrollView_uiBarContainer.disable { display:none; }
.experCSS_scrollView_uiBar { position:absolute; right:0px; width:5px; background-color:#707070; }
.experCSS_scrollView_uiBarContainer:hover .experCSS_scrollView_uiBar { background-color:#ff0000; }
.experCSS_scrollView_uiBar.activate { background-color:#ff0000; }



.experCSS_toast_alternate { 
	position:fixed; bottom:20px; left:50%; padding:2px 10px 4px 10px; 
	text-align:center; line-height:1.6em; font-size:1em; color:#ffffff; 
	background-color:#444444; 0px 5px 8px rgba(0,0,0,0.3); 
}



.exUIKit_checkBox.original { position:absolute; left:-99999px; }
.exUIKit_checkBox.checkBtn {}
.exUIKit_checkBox:hover { background-color:#ff0000; }
.exUIKit_checkBox.checkBtn .checkBox { display:inline-block; width:17px; height:17px; vertical-align:middle; background:url("./images/EXCheckBox/normal.png") 0 0 no-repeat; }
.exUIKit_checkBox.checkBtn .checkBox.checked {  background:url("./images/EXCheckBox/checked.png") 0 0 no-repeat; }
.exUIKit_checkBox.checkBtn.disabled .checkBox { background-image:url("./images/EXCheckBox/disabled.png"); }
.exUIKit_checkBox.checkBtn.disabled .checkBox.checked { background-image:url("./images/EXCheckBox/disabled_checked.png"); }


.exUIKit_radioGroup {}
.exUIKit_radioGroup.original { position:absolute; left:-9000px; }
.exUIKit_radioGroup.radioBtn { }
.exUIKit_radioGroup.radioBtn .radio { display:inline-block; margin-top:-1px; width:19px; height:19px; vertical-align:middle; background:url("../../experCSS/images/EXRadioButton/normal.png") 0 0 no-repeat; }
.exUIKit_radioGroup.radioBtn .radio.checked { background:url("../../experCSS/images/EXRadioButton/checked.png") 0 0 no-repeat; }
.exUIKit_radioGroup.radioBtn.disabled .radio { background-image:url("../../experCSS/images/EXRadioButton/disabled.png"); }
.exUIKit_radioGroup.radioBtn.disabled .radio.checked { background-image:url("../../experCSS/images/EXRadioButton/checked.png"); }

/*
.experCSS_designUI_checkBox.checkBtn .checkBox { -webkit-transition: -webkit-transform 0.2s; }
.experCSS_designUI_checkBox.checkBtn .checkBox.checked { -webkit-transform:translateX(3px); }
.experCSS_designUI_radioGroup.radioBtn .radio { -webkit-transition: -webkit-transform 0.3s; }
.experCSS_designUI_radioGroup.radioBtn .radio.checked { -webkit-transform:translateX(3px); }
.exUIKit_checkBox.checkBtn .checkBox { -webkit-transform:scale(0.5,0.5); -webkit-transition: -webkit-transform 0.1s; }
.exUIKit_checkBox.checkBtn .checkBox.checked { -webkit-transform:scale(1,1); }
*/